<h1> KUDOS! you're already registered at voyaqi.app</h1> 
<p> Now, what? </p> 
<div>
    <ul style="list-style-type:none;">
        <li>You can start sharing your routes directly on our <a href='https://www.suite.voyaqi.app'>app</a></li>
        <li>You can go check out other user's routes</li>
        <li> You can complete your <a href="https://www.suite.voyaqi.app/profile/user">profile </a> to help other users get to know you better</li>
        <li>And you can spread the word, telling for family and friends about the awesome community you have just join!</li>
    </ul>
    <p> And remember, you can always sing out by deleting your account at your profile section in our app</p>

</div>
