<meta name="description" content="With Voyaqi you can offer the free places you have on the usual routes you make: home work, work school, etc."/>
<meta name="author" content="Team Malleme" />
<meta name="robots" content= "noindex, nofollow">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.voyaqi.app/">
<meta property="og:title" content="Voyaqi">
<meta property="og:description" content="With Voyaqi you can offer the free places you have on the usual routes you make: home work, work school, etc.">
<meta property="og:image" content="https://www.voyaqi.app/img/theme/meta_tag_img.JPG">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.voyaqi.app/">
<meta property="twitter:title" content="Voyaqi">
<meta property="twitter:description" content="With Voyaqi you can offer the free places you have on the usual routes you make: home work, work school, etc.">
<meta property="twitter:image" content="https://www.voyaqi.app/img/theme/meta_tag_img.JPG">