
.map-container {
    height: calc(100vh - 15px);
    margin: 8px 0px;
    position: relative;
}

.map-form{
    width: 100%;
    position: absolute;
    border-radius: 0.375em;
    top: calc(3vh);
}

.input-buttons{
    display: flex;
    justify-content: space-around;
}

.input-buttons i {
    display: none;
}


@media (min-width: 768px) {

    .map-container {
        height: 80vh;
    } 
    
    .map-container > div {
        border-radius: 0.375rem;
    }

    .map-form{
        background-color: #fff;
        max-width: 300px;
        margin-left: 1.5rem;
    }

    .input-buttons{
        display: block;
    }

    .input-buttons i {
        display: inline;
    }
}

@media (min-width: 1640px) {
    .map-form{
        max-width: 320px;
    }
}