.sharebar{
    display: flex;
    list-style: none;
    padding: 0;
}

.sharebar__btn {
    display: inline-block;
    padding: 0.5em;
    border-radius: 50%;
    transition: 0.2s;
}

.sharebar__btn i {
    display: block;
    transition: color 0.2s;
    font-size: 1.7em;
    width: 1.25em;
    height: 100%;
}